# Limpieza de datos

Vamos a aplicar el [checklist del Banco Mundial](https://dimewiki.worldbank.org/wiki/Checklist:_Data_Cleaning) en Python usando el [SciPy stack](https://www.scipy.org/stackspec.html), principalmente pandas

## 0. Prerequisitos

Aclaración: La próxima celda es para compatilibidad con Colab, NO ES RECOMENDADO realizar pip install desde un notebook.

In [1]:
import sys
in_colab = 'google.colab' in sys.modules

if in_colab:
  BASE_DIR = "https://github.com/DiploDatos/AnalisisYCuracion/raw/master/"
else:
  BASE_DIR = ".."
if 'ftfy' not in sys.modules:
    !pip install 'ftfy<5.6'

Collecting ftfy<5.6
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f3785e6e710>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ftfy/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f3785e6e780>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ftfy/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f3785e6e400>: Failed to establish a new connection: [Errno -2] Name or service not known')': /simple/ftfy/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f3785e6e4a8>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ftfy/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f3785e6e3c8>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ftfy/
  ERROR: Could not find a version that satisfies the requirement ftfy<5.6 (from versions: none)
ERROR: No matching distribution found for ftfy<5.6

# 1. Importando los datos

# 1.1. Verificar que no hay problemas en la importación

In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

Veamos de importar datos de proyectos de Kickstarter la plataforma de Crowdsourcing

In [3]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv", encoding='iso-8859-1')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Por defecto Pandas falla si hay errores para leer datos https://pandas.pydata.org/pandas-docs/stable/io.html#error-handling

Por ahora cambiamos a un archivo más actualizado, volveremos a este error más adelante

In [4]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

Veamos los datos cargados en el dataframe

In [5]:
kickstarter_2018

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
10,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
12,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
15,1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
17,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
19,1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
20,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
22,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
25,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
26,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
29,100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378631,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
378632,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
378633,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
378634,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
378635,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
378636,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
378637,999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
378638,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
378639,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
378640,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
378641,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
378642,999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
378643,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
378644,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
378645,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
378646,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
378647,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
378648,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
378649,999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
378650,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
378651,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
378652,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
378653,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
378654,999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
378655,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

Por defecto solo vemos los valores al comienzo o al final del archivo.

Tomemos una muestra al azar para ver valores más dispersos

In [6]:
# set seed for reproducibility
import numpy as np
np.random.seed(0)

In [7]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
338862,796196901,10G Christmas Tree,Art,Art,USD,2010-12-26,10526.00,2010-12-08 08:44:04,0.00,failed,0,US,0.00,0.00,10526.00
277871,483825010,Gliff,Gaming Hardware,Games,USD,2016-03-28,10000.00,2016-01-28 04:56:18,51.00,failed,5,US,51.00,51.00,10000.00
47000,123916947,STUFFED Food Truck,Food Trucks,Food,USD,2015-01-06,60000.00,2014-11-07 02:24:36,25.00,failed,1,US,25.00,25.00,60000.00
111338,1565733636,NeoExodus Adventure: Origin of Man for Pathfin...,Tabletop Games,Games,USD,2012-05-01,500.00,2012-03-15 01:16:10,585.00,successful,17,US,585.00,585.00,500.00
53743,1273544891,NAPOLEON IN NEW YORK! an original TV Series,Comedy,Film & Video,USD,2016-07-26,25000.00,2016-05-27 00:07:25,25.00,failed,1,US,25.00,25.00,25000.00

No se observa a simple vista ningún problema obvio.

Notar que todos vimos los mismos resultados. Al fijar la semilla no hubo tal azar, esto es algo necesario cuando queremos "reproducir valores aleatorios"

Veamos la descripción del dataset si se corresponde con lo levantado https://www.kaggle.com/kemical/kickstarter-projects/data

In [8]:
pd.DataFrame([["ID", "No description provided", "Numeric"],
["name", "No description provided", "String"],
["category", "No description provided", "String"],
["main_category", "No description provided", "String"],
["currency", "No description provided", "String"],
["deadline", "No description provided", "DateTime"],
["goal", "Goal amount in project currency", "Numeric"],
["launched", "No description provided", "DateTime"],
["pledged", "Pledged amount in the project currency", "Numeric"],
["state", "No description provided", "String"],
["backers", "No description provided", "Numeric"],
["country", "No description provided", "String"],
["usd pledged", "Pledged amount in USD (conversion made by KS)", "Numeric"],
["usd_pledged_real", "Pledged amount in USD (conversion made by fixer.io api)", "Numeric"],
["usd_goal_real", "Goal amount in USD", "Numeric"]], columns=["Field name","Field description", "Type"])

,Field name,Field description,Type
0,ID,No description provided,Numeric
1,name,No description provided,String
2,category,No description provided,String
3,main_category,No description provided,String
4,currency,No description provided,String
5,deadline,No description provided,DateTime
6,goal,Goal amount in project currency,Numeric
7,launched,No description provided,DateTime
8,pledged,Pledged amount in the project currency,Numeric
9,state,No description provided,String
10,backers,No description provided,Numeric
11,country,No description provided,String
12,usd pledged,Pledged amount in USD (conversion made by KS),Numeric
13,usd_pledged_real,Pledged amount in USD (conversion made by fixe...,Numeric
14,usd_goal_real,Goal amount in USD,Numeric

Ahora veamos los tipos de datos que detectó pandas

In [9]:
kickstarter_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

Los campos object generalmente son String, entonces parece que no reconoció como fechas en **deadline** y **launched** :(

Veamos los datos un resumen de los datos

In [10]:
kickstarter_2018.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378661.00,378661.00,378661.00,374864.00,378661.00,378661.00
mean,1074731191.99,49080.79,9682.98,105.62,7036.73,9058.92,45454.40
std,619086204.32,1183391.26,95636.01,907.19,78639.75,90973.34,1152950.06
min,5971.00,0.01,0.00,0.00,0.00,0.00,0.01
25%,538263516.00,2000.00,30.00,2.00,16.98,31.00,2000.00
50%,1075275634.00,5200.00,620.00,12.00,394.72,624.33,5500.00
75%,1610148624.00,16000.00,4076.00,56.00,3034.09,4050.00,15500.00
max,2147476221.00,100000000.00,20338986.27,219382.00,20338986.27,20338986.27,166361390.71

Por defecto se ven los datos numéricos, veamos el resto.

In [11]:
kickstarter_2018.describe(include=['object'])

,name,category,main_category,currency,deadline,launched,state,country
count,378657,378661,378661,378661,378661,378661,378661,378661
unique,375764,159,15,14,3164,378089,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,1970-01-01 01:00:00,failed,US
freq,41,22314,63585,295365,705,7,197719,292627

Operemos un cacho sobre los datos de lanzamiento

In [12]:
kickstarter_2018['launched'].min()

'1970-01-01 01:00:00'

In [13]:
kickstarter_2018['launched'] = pd.to_datetime(kickstarter_2018['launched'])

Parece funcionar, pero ahora calculemos el rango de fechas de los proyectos

In [14]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

Timedelta('17533 days 14:02:31')

Indiquemos que columnas son fechas como indica la [documentación](https://pandas.pydata.org/pandas-docs/stable/io.html#datetime-handling)

In [15]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"])
kickstarter_2018.dtypes

ID                           int64
name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd pledged                float64
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

Ahora vemos que esas columnas fueron reconocidas como fechas

Veamos la misma muestra de nuevo

In [16]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
299667,595962034,Button Poetry Live!,Mixed Media,Art,USD,2015-09-18,10000.00,2015-08-19 19:34:20,18216.27,successful,455,US,18216.27,18216.27,10000.00
181674,1924707671,"C STREET 2012 : Tbilisi, Georgia",World Music,Music,USD,2012-06-07,5000.00,2012-05-08 18:22:59,7210.69,successful,82,US,7210.69,7210.69,5000.00
137583,1698707842,Dérive's Next Project,Punk,Music,USD,2014-07-06,1200.00,2014-06-08 17:58:37,1255.66,successful,33,US,1255.66,1255.66,1200.00
296861,581269566,Photo Book - World Santa Claus Congress,Photobooks,Photography,DKK,2017-04-14,110000.00,2017-03-14 23:45:35,462.00,failed,5,DK,0.00,66.46,15823.47
66362,1337585114,Kickstart CLE Brewing to greatness!,Drinks,Food,USD,2017-08-19,6500.00,2017-07-20 21:22:43,250.00,failed,5,US,75.00,250.00,6500.00

Y veamos el resumen de los datos

In [17]:
kickstarter_2018.describe(include='all')

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,nan,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,nan,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,nan,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,nan,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,nan,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,1074731191.99,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,619086204.32,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,5971.00,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,538263516.00,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,1075275634.00,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,1610148624.00,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,2147476221.00,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

Podemos ver que tenemos primero y último en el resumen de las columnas de fechas.

Ahora deberíamos poder calcular el rango de fechas de lanzamietos

In [18]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

Timedelta('17533 days 14:02:31')

# 1.2. Asegurar de tener ids/claves únicas

Chequear que no hay datos duplicados

In [19]:
kickstarter_2018.shape

(378661, 15)

Pandas soporta índices en los DataFrames vamos a recargar el conjunto de datos

In [20]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"],
                               index_col=['ID'])

In [21]:
kickstarter_2018

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

In [22]:
kickstarter_2018.shape

(378661, 14)

De esta forma podemos buscar por el índice

In [23]:
kickstarter_2018.loc[999988282]

name                Nou Renmen Ayiti!  We Love Haiti!
category                              Performance Art
main_category                                     Art
currency                                          USD
deadline                          2011-08-16 00:00:00
goal                                          2000.00
launched                          2011-07-19 09:07:47
pledged                                        524.00
state                                          failed
backers                                            17
country                                            US
usd pledged                                    524.00
usd_pledged_real                               524.00
usd_goal_real                                 2000.00
Name: 999988282, dtype: object

También podemos verificar si hay filas de contenidos duplicado

In [24]:
kickstarter_2018[kickstarter_2018.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Como Pandas acepta valores duplicados en los índices también debemos verificar ahí

In [25]:
pd.Series(kickstarter_2018.index,dtype=str).describe()

count        378661
unique       378661
top       723558193
freq              1
Name: ID, dtype: object

In [26]:
kickstarter_2018[kickstarter_2018.index.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Repasamos con un ejemplo de juguete

In [27]:
csv='1,2\n3,3\n1,3'
print(csv)

1,2
3,3
1,3

In [28]:
from io import StringIO
df = pd.read_csv(StringIO(csv), names=['id','value'], index_col='id')
df

    value
id
1       2
3       3
1       3

In [29]:
df[df.duplicated()]

    value
id
1       3

In [30]:
df[df.index.duplicated(keep=False)]

    value
id
1       2
1       3

#### Ejercicio 1:

Armar una tabla con todos los proyectos con nombres duplicados, ordenados para revisar agrupados.

In [31]:
duplicated = kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values(['name'])
duplicated

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00
1880084695,"""American Sports Stories"" - An Athletic Quest",Shorts,Film & Video,USD,2015-08-26,100000.00,2015-06-27 02:02:00,100.00,failed,1,US,100.00,100.00,100000.00
422509694,"""American Sports Stories"" - An Athletic Quest",Television,Film & Video,USD,2017-05-14,100000.00,2017-04-14 00:08:52,1.00,failed,1,US,25.00,1.00,100000.00
866225086,"""City of Mercy"" (Canceled)",Film & Video,Film & Video,USD,2015-02-26,20000.00,2015-01-27 19:30:43,7248.00,canceled,9,US,7248.00,7248.00,20000.00
1760892298,"""City of Mercy"" (Canceled)",Television,Film & Video,USD,2014-08-28,15000.00,2014-07-29 13:12:21,11260.00,canceled,7,US,11260.00,11260.00,15000.00
1999958521,"""Color"" Music Video",Film & Video,Film & Video,USD,2016-06-06,5000.00,2016-05-07 01:56:36,0.00,canceled,0,"N,0""",nan,0.00,5000.00
870322805,"""Color"" Music Video",Music,Music,USD,2015-09-16,1100.00,2015-09-02 00:03:02,1100.00,undefined,0,"N,0""",nan,1100.00,1100.00
1413519345,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,USD,2014-03-26,9000.00,2014-03-01 19:32:15,1010.00,canceled,25,US,1010.00,1010.00,9000.00
1637334549,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,GBP,2014-03-04,14000.00,2014-02-02 16:00:57,225.00,canceled,7,GB,369.89,377.33,23478.12
1656736114,"""ONE""",Apps,Technology,USD,2016-02-25,10000.00,2016-01-26 17:37:04,0.00,failed,0,US,0.00,0.00,10000.00
159049492,"""ONE""",Classical Music,Music,USD,2016-09-26,10000.00,2016-08-12 03:19:12,10261.00,successful,113,US,1870.00,10261.00,10000.00
72198224,"""On The Road""",Tabletop Games,Games,USD,2014-01-01,20000.00,2013-12-02 22:19:48,612.00,failed,10,US,612.00,612.00,20000.00
996180421,"""On The Road""",Webseries,Film & Video,USD,2015-01-22,80000.00,2014-12-23 17:31:06,0.00,failed,0,US,0.00,0.00,80000.00
306461885,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-08,4000.00,2016-11-08 03:01:36,270.00,canceled,3,CA,44.77,204.90,3035.59
1023301684,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-17,4000.00,2016-11-17 09:45:59,0.00,canceled,0,CA,0.00,0.00,2959.89
516801004,"""Reflections""",Shorts,Film & Video,USD,2012-10-16,3000.00,2012-09-16 07:47:47,0.00,failed,0,US,0.00,0.00,3000.00
2007967203,"""Reflections""",Narrative Film,Film & Video,USD,2013-01-16,60000.00,2012-12-05 16:31:40,0.00,failed,0,US,0.00,0.00,60000.00
1223071711,"""RunRainbow"" Feature Film Sizzle Reel",Horror,Film & Video,USD,2016-11-11,3734.00,2016-10-27 21:59:08,715.00,failed,20,US,225.00,715.00,3734.00
2136175444,"""RunRainbow"" Feature Film Sizzle Reel",Thrillers,Film & Video,USD,2016-11-01,3734.00,2016-10-17 18:12:57,250.00,canceled,8,US,220.00,250.00,3734.00
1165257902,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-09,300.00,2017-01-10 17:09:27,111.00,failed,10,US,25.00,111.00,300.00
1606189204,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-05,5000.00,2017-01-06 01:55:34,5.00,canceled,1,US,0.00,5.00,5000.00
1823321664,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-18,800.00,2017-03-06 13:10:55,800.00,canceled,1,US,0.00,800.00,800.00
465144515,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-15,4946.00,2017-03-06 02:55:48,0.00,canceled,0,US,0.00,0.00,4946.00
234863316,#Elixir,Hip-Hop,Music,USD,2016-09-24,5000.00,2016-08-25 05:27:22,0.00,canceled,0,US,0.00,0.00,5000.00
2043567899,#Elixir,Hip-Hop,Music,USD,2016-09-30,5000.00,2016-08-25 23:04:09,0.00,failed,0,US,0.00,0.00,5000.00
1889457470,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,1000000.00,2017-08-02 17:37:10,0.00,canceled,0,CA,0.00,0.00,795228.63
1165878498,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,50.00,2017-08-02 18:01:49,50.00,successful,1,CA,0.00,39.76,39.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255984219,noparkticket.com,Apps,Technology,USD,2015-11-22,20000.00,2015-09-23 01:56:42,5.00,failed,1,US,5.00,5.00,20000.00
1945927325,noparkticket.com,Web,Technology,USD,2015-05-29,156000.00,2015-04-23 18:45:30,0.00,failed,0,US,0.00,0.00,156000.00
145035452,project (Canceled),Food,Food,USD,2011-08-19,5000.00,2011-07-20 21:07:17,0.00,canceled,0,US,0.00,0.00,5000.00
1297288919,project (Canceled),Mixed Media,Art,USD,2016-02-14,47000.00,2016-01-06 16:11:52,0.00,canceled,0,US,0.00,0.00,47000.00
1146277333,returning at a later date (Canceled),Fiction,Publishing,USD,2015-05-25,250.00,2015-04-30 22:01:59,1238.00,canceled,16,US,1238.00,1238.00,250.00
1556035715,returning at a later date (Canceled),Experimental,Theater,USD,2015-10-10,99.00,2015-09-25 20:38:59,100.00,canceled,2,US,100.00,100.00,99.00
391083153,returning at a later date (Canceled),Periodicals,Publishing,USD,2015-10-05,1.00,2015-09-25 01:42:42,50.00,canceled,2,US,50.00,50.00,1.00
1586289411,returning at a later date (Canceled),Food,Food,USD,2015-11-24,99.00,2015-11-14 06:14:14,30.00,canceled,2,US,30.00,30.00,99.00
576148925,sFTP Client,Apps,Technology,GBP,2016-12-04,10000.00,2016-11-04 16:21:01,103.50,canceled,10,GB,109.09,130.20,12580.04
467374509,sFTP Client,Apps,Technology,GBP,2016-12-31,80000.00,2016-11-03 15:27:16,0.00,canceled,0,GB,0.00,0.00,98907.08
1331807604,smartLED,Hardware,Technology,EUR,2018-01-06,10000.00,2017-12-07 09:34:41,56.00,live,5,FR,100.63,67.97,12136.95
216839969,smartLED,Hardware,Technology,EUR,2017-12-28,10000.00,2017-11-28 09:22:51,66.00,canceled,6,FR,78.70,79.15,11993.00
167364797,test (Canceled),Digital Art,Art,GBP,2016-03-20,360.00,2016-02-20 00:10:45,100.00,canceled,1,GB,143.03,141.30,508.68
1404511608,test (Canceled),Space Exploration,Technology,USD,2015-04-18,49000.00,2015-03-19 02:40:10,1333.00,canceled,10,US,1333.00,1333.00,49000.00
1117671370,test (Canceled),Web,Technology,USD,2014-09-06,20000.00,2014-07-08 02:12:30,5.00,canceled,1,US,5.00,5.00,20000.00
1492548024,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2016-01-25,200.00,2016-01-04 17:33:28,1728.60,successful,58,US,1728.60,1728.60,200.00
1863478885,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2015-10-18,7000.00,2015-09-18 21:39:35,530.00,failed,19,US,530.00,530.00,7000.00
1334808206,x,Film & Video,Film & Video,GBP,2016-04-01,2000.00,2016-02-21 19:53:48,0.00,undefined,0,"N,0""",nan,0.00,2861.93
774948469,x,Apps,Technology,USD,2014-12-19,1500.00,2014-11-18 04:56:32,151.00,failed,4,US,151.00,151.00,1500.00
1955983697,x (Canceled),Software,Technology,USD,2011-02-21,20000.00,2011-01-21 00:21:20,0.00,canceled,0,US,0.00,0.00,20000.00
983316237,x (Canceled),Fiction,Publishing,USD,2012-07-24,10000.00,2012-06-26 22:15:19,0.00,canceled,0,US,0.00,0.00,10000.00
58345768,x (Canceled),Children's Books,Publishing,USD,2016-07-24,15000.00,2016-05-25 06:48:32,0.00,canceled,0,US,0.00,0.00,15000.00
1612055887,x (Canceled),Fiction,Publishing,USD,2012-02-22,15000.00,2012-01-12 01:07:01,0.00,canceled,0,US,0.00,0.00,15000.00
234114061,x (Canceled),Fashion,Fashion,USD,2013-09-03,5900.00,2013-07-29 20:14:48,0.00,canceled,0,US,0.00,0.00,5900.00
1839948714,xxx (Canceled),Food,Food,USD,2014-04-26,55000.00,2014-03-21 18:45:06,13591.00,canceled,156,US,13591.00,13591.00,55000.00
329580179,xxx (Canceled),Art,Art,USD,2011-09-03,10000.00,2011-06-05 04:54:37,1151.00,canceled,18,US,1151.00,1151.00,10000.00
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.00,2012-01-01 12:35:31,100.00,failed,1,US,100.00,100.00,200000.00
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.00,2012-12-19 23:57:48,196.00,failed,12,GB,317.73,316.05,3224.97
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.00,2016-06-18 05:01:47,0.00,suspended,0,US,0.00,0.00,2500.00
796533179,NaN,Painting,Art,USD,2011-12-05,35000.00,2011-11-06 23:55:55,220.00,failed,5,US,220.00,220.00,35000.00

# 1.3. Despersonalizar datos y guardarlos en un nuevo archivo

Hay muuuchas técnicas para despersonalizar datos.

Para ilustrar mostramos las ofrecidas por Google https://cloud.google.com/dlp/docs/transformations-reference:

* **Reemplazo**: Reemplaza cada valor de entrada con un valor determinado.
* **Ocultamiento**: Quita un valor y lo oculta.
* **Enmascaramiento con caracteres**: Enmascara una string por completo o parcialmente mediante el reemplazo de un número determinado de caracteres con un carácter fijo especificado..
* **Seudonimización mediante el reemplazo de un valor de entrada con un hash criptográfico**: Reemplaza valores de entrada con una string hexadecimal de 32 bytes mediante una clave de encriptación de datos.
* **Cambio de fechas**: Cambia las fechas por un número de días al azar, con la opción de ser coherente en el mismo contexto..
* **Seudonimización mediante el reemplazo con token de preservación de formato criptográfico**: Reemplaza un valor de entrada con un token, o valor sustituto, de la misma longitud mediante la encriptación de preservación de formato (FPE) con el modo de operación FFX. Esto permite que se use el resultado en sistemas con validación de formato o que necesitan aparecer como reales a pesar de que la información no se revela.
* **Valores de depósito con base en rangos de tamaño fijos**: Enmascara los valores de entrada y los reemplaza por depósitos, o rangos dentro de los cuales se encuentra el valor de entrada.
* **Valores de depósito con base en rangos de tamaño personalizados**: Valores de entrada de depósito con base en rangos configurables por el usuario y valores de reemplazo.
* **Extracción de datos de tiempo**: EExtrae o preserva una porción de los valores Date, Timestamp y TimeOfDay.

In [32]:
from hashlib import md5

In [33]:
kickstarter_2018['name']=str(kickstarter_2018['name'])#.apply(md5)

In [34]:
def hashit(val):
    return md5(val.encode('utf-8'))

kickstarter_2018['name'].apply(hashit)

ID
1000002330    <md5 HASH object @ 0x7fd9ded49dc8>
1000003930    <md5 HASH object @ 0x7fd9ded49d78>
1000004038    <md5 HASH object @ 0x7fd9ded49e40>
1000007540    <md5 HASH object @ 0x7fd9ded49350>
1000011046    <md5 HASH object @ 0x7fd9ded49260>
1000014025    <md5 HASH object @ 0x7fd9ded49e18>
1000023410    <md5 HASH object @ 0x7fd9ded49b20>
1000030581    <md5 HASH object @ 0x7fd9ded49d28>
1000034518    <md5 HASH object @ 0x7fd9ded49620>
100004195     <md5 HASH object @ 0x7fd9ded498a0>
100004721     <md5 HASH object @ 0x7fd9ded49760>
100005484     <md5 HASH object @ 0x7fd9ded49e68>
1000055792    <md5 HASH object @ 0x7fd9ded49a08>
1000056157    <md5 HASH object @ 0x7fd9ded49440>
1000057089    <md5 HASH object @ 0x7fd9ded498f0>
1000064368    <md5 HASH object @ 0x7fd9ded491e8>
1000064918    <md5 HASH object @ 0x7fd9ded49300>
1000068480    <md5 HASH object @ 0x7fd9ded49558>
1000070642    <md5 HASH object @ 0x7fd9ded49490>
1000071625    <md5 HASH object @ 0x7fd9ded49738>
1000072011    <md5 HASH object @ 0x7fd9ded49288>
1000081649    <md5 HASH object @ 0x7fd9ded49c88>
1000082254    <md5 HASH object @ 0x7fd9ded495f8>
1000087442    <md5 HASH object @ 0x7fd9ded499e0>
1000091520    <md5 HASH object @ 0x7fd9ded49f58>
1000102741    <md5 HASH object @ 0x7fd9ded49b70>
1000103948    <md5 HASH object @ 0x7fd9ded49508>
1000104688    <md5 HASH object @ 0x7fd9ded49080>
1000104953    <md5 HASH object @ 0x7fd9ded49918>
100011318     <md5 HASH object @ 0x7fd9ded49378>
                             ...
999832803     <md5 HASH object @ 0x7fd9dbeb9738>
99984851      <md5 HASH object @ 0x7fd9dbeb9760>
999865831     <md5 HASH object @ 0x7fd9dbeb9788>
999867839     <md5 HASH object @ 0x7fd9dbeb97b0>
99987261      <md5 HASH object @ 0x7fd9dbeb97d8>
999877902     <md5 HASH object @ 0x7fd9dbeb9800>
999878813     <md5 HASH object @ 0x7fd9dbeb9828>
999880710     <md5 HASH object @ 0x7fd9dbeb9850>
999884445     <md5 HASH object @ 0x7fd9dbeb9878>
999893629     <md5 HASH object @ 0x7fd9dbeb98a0>
99991751      <md5 HASH object @ 0x7fd9dbeb98c8>
999929142     <md5 HASH object @ 0x7fd9dbeb98f0>
999931480     <md5 HASH object @ 0x7fd9dbeb9918>
999934908     <md5 HASH object @ 0x7fd9dbeb9940>
999941823     <md5 HASH object @ 0x7fd9dbeb9968>
999943841     <md5 HASH object @ 0x7fd9dbeb9990>
999950812     <md5 HASH object @ 0x7fd9dbeb99b8>
999955533     <md5 HASH object @ 0x7fd9dbeb99e0>
999963618     <md5 HASH object @ 0x7fd9dbeb9a08>
99996661      <md5 HASH object @ 0x7fd9dbeb9a30>
999969812     <md5 HASH object @ 0x7fd9dbeb9a58>
999971898     <md5 HASH object @ 0x7fd9dbeb9a80>
999972264     <md5 HASH object @ 0x7fd9dbeb9aa8>
999975836     <md5 HASH object @ 0x7fd9dbeb9ad0>
999976312     <md5 HASH object @ 0x7fd9dbeb9af8>
999976400     <md5 HASH object @ 0x7fd9dbeb9b20>
999977640     <md5 HASH object @ 0x7fd9dbeb9b48>
999986353     <md5 HASH object @ 0x7fd9dbeb9b70>
999987933     <md5 HASH object @ 0x7fd9dbeb9b98>
999988282     <md5 HASH object @ 0x7fd9dbeb9bc0>
Name: name, Length: 378661, dtype: object

In [35]:
def hashit(val):
    try:
        return md5(val.encode('utf-8'))
    except Exception as e:
        print(val, type(val))
        raise(e)

kickstarter_2018['name'].apply(hashit)

ID
1000002330    <md5 HASH object @ 0x7fd9ded49df0>
1000003930    <md5 HASH object @ 0x7fd9dbeb9e90>
1000004038    <md5 HASH object @ 0x7fd9dbeb9eb8>
1000007540    <md5 HASH object @ 0x7fd9dbeb9ee0>
1000011046    <md5 HASH object @ 0x7fd9dbeb9f08>
1000014025    <md5 HASH object @ 0x7fd9dbeb9f30>
1000023410    <md5 HASH object @ 0x7fd9dbeb9f58>
1000030581    <md5 HASH object @ 0x7fd9dbeb9f80>
1000034518    <md5 HASH object @ 0x7fd9dbeb9fd0>
100004195     <md5 HASH object @ 0x7fd9dbeb9fa8>
100004721     <md5 HASH object @ 0x7fd9dbeb9d50>
100005484     <md5 HASH object @ 0x7fd9dbeb9c38>
1000055792    <md5 HASH object @ 0x7fd9dbeb9da0>
1000056157    <md5 HASH object @ 0x7fd9dbeb9c10>
1000057089    <md5 HASH object @ 0x7fd9dbeac030>
1000064368    <md5 HASH object @ 0x7fd9dbeac058>
1000064918    <md5 HASH object @ 0x7fd9dbeac080>
1000068480    <md5 HASH object @ 0x7fd9dbeac0a8>
1000070642    <md5 HASH object @ 0x7fd9dbeac0d0>
1000071625    <md5 HASH object @ 0x7fd9dbeac0f8>
1000072011    <md5 HASH object @ 0x7fd9dbeac120>
1000081649    <md5 HASH object @ 0x7fd9dbeac148>
1000082254    <md5 HASH object @ 0x7fd9dbeac170>
1000087442    <md5 HASH object @ 0x7fd9dbeac198>
1000091520    <md5 HASH object @ 0x7fd9dbeac1c0>
1000102741    <md5 HASH object @ 0x7fd9dbeac1e8>
1000103948    <md5 HASH object @ 0x7fd9dbeac210>
1000104688    <md5 HASH object @ 0x7fd9dbeac238>
1000104953    <md5 HASH object @ 0x7fd9dbeac260>
100011318     <md5 HASH object @ 0x7fd9dbeac288>
                             ...
999832803     <md5 HASH object @ 0x7fd9da258b20>
99984851      <md5 HASH object @ 0x7fd9da258b48>
999865831     <md5 HASH object @ 0x7fd9da258b70>
999867839     <md5 HASH object @ 0x7fd9da258b98>
99987261      <md5 HASH object @ 0x7fd9da258bc0>
999877902     <md5 HASH object @ 0x7fd9da258be8>
999878813     <md5 HASH object @ 0x7fd9da258c10>
999880710     <md5 HASH object @ 0x7fd9da258c38>
999884445     <md5 HASH object @ 0x7fd9da258c60>
999893629     <md5 HASH object @ 0x7fd9da258c88>
99991751      <md5 HASH object @ 0x7fd9da258cb0>
999929142     <md5 HASH object @ 0x7fd9da258cd8>
999931480     <md5 HASH object @ 0x7fd9da258d00>
999934908     <md5 HASH object @ 0x7fd9da258d28>
999941823     <md5 HASH object @ 0x7fd9da258d50>
999943841     <md5 HASH object @ 0x7fd9da258d78>
999950812     <md5 HASH object @ 0x7fd9da258da0>
999955533     <md5 HASH object @ 0x7fd9da258dc8>
999963618     <md5 HASH object @ 0x7fd9da258df0>
99996661      <md5 HASH object @ 0x7fd9da258e18>
999969812     <md5 HASH object @ 0x7fd9da258e40>
999971898     <md5 HASH object @ 0x7fd9da258e68>
999972264     <md5 HASH object @ 0x7fd9da258e90>
999975836     <md5 HASH object @ 0x7fd9da258eb8>
999976312     <md5 HASH object @ 0x7fd9da258ee0>
999976400     <md5 HASH object @ 0x7fd9da258f08>
999977640     <md5 HASH object @ 0x7fd9da258f30>
999986353     <md5 HASH object @ 0x7fd9da258f58>
999987933     <md5 HASH object @ 0x7fd9da258f80>
999988282     <md5 HASH object @ 0x7fd9da258fa8>
Name: name, Length: 378661, dtype: object

In [36]:
def hashit(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()


kickstarter_2018['name'].apply(hashit)

ID
1000002330    c2e5331d4013e95732583b6399a025a0
1000003930    c2e5331d4013e95732583b6399a025a0
1000004038    c2e5331d4013e95732583b6399a025a0
1000007540    c2e5331d4013e95732583b6399a025a0
1000011046    c2e5331d4013e95732583b6399a025a0
1000014025    c2e5331d4013e95732583b6399a025a0
1000023410    c2e5331d4013e95732583b6399a025a0
1000030581    c2e5331d4013e95732583b6399a025a0
1000034518    c2e5331d4013e95732583b6399a025a0
100004195     c2e5331d4013e95732583b6399a025a0
100004721     c2e5331d4013e95732583b6399a025a0
100005484     c2e5331d4013e95732583b6399a025a0
1000055792    c2e5331d4013e95732583b6399a025a0
1000056157    c2e5331d4013e95732583b6399a025a0
1000057089    c2e5331d4013e95732583b6399a025a0
1000064368    c2e5331d4013e95732583b6399a025a0
1000064918    c2e5331d4013e95732583b6399a025a0
1000068480    c2e5331d4013e95732583b6399a025a0
1000070642    c2e5331d4013e95732583b6399a025a0
1000071625    c2e5331d4013e95732583b6399a025a0
1000072011    c2e5331d4013e95732583b6399a025a0
1000081649    c2e5331d4013e95732583b6399a025a0
1000082254    c2e5331d4013e95732583b6399a025a0
1000087442    c2e5331d4013e95732583b6399a025a0
1000091520    c2e5331d4013e95732583b6399a025a0
1000102741    c2e5331d4013e95732583b6399a025a0
1000103948    c2e5331d4013e95732583b6399a025a0
1000104688    c2e5331d4013e95732583b6399a025a0
1000104953    c2e5331d4013e95732583b6399a025a0
100011318     c2e5331d4013e95732583b6399a025a0
                            ...
999832803     c2e5331d4013e95732583b6399a025a0
99984851      c2e5331d4013e95732583b6399a025a0
999865831     c2e5331d4013e95732583b6399a025a0
999867839     c2e5331d4013e95732583b6399a025a0
99987261      c2e5331d4013e95732583b6399a025a0
999877902     c2e5331d4013e95732583b6399a025a0
999878813     c2e5331d4013e95732583b6399a025a0
999880710     c2e5331d4013e95732583b6399a025a0
999884445     c2e5331d4013e95732583b6399a025a0
999893629     c2e5331d4013e95732583b6399a025a0
99991751      c2e5331d4013e95732583b6399a025a0
999929142     c2e5331d4013e95732583b6399a025a0
999931480     c2e5331d4013e95732583b6399a025a0
999934908     c2e5331d4013e95732583b6399a025a0
999941823     c2e5331d4013e95732583b6399a025a0
999943841     c2e5331d4013e95732583b6399a025a0
999950812     c2e5331d4013e95732583b6399a025a0
999955533     c2e5331d4013e95732583b6399a025a0
999963618     c2e5331d4013e95732583b6399a025a0
99996661      c2e5331d4013e95732583b6399a025a0
999969812     c2e5331d4013e95732583b6399a025a0
999971898     c2e5331d4013e95732583b6399a025a0
999972264     c2e5331d4013e95732583b6399a025a0
999975836     c2e5331d4013e95732583b6399a025a0
999976312     c2e5331d4013e95732583b6399a025a0
999976400     c2e5331d4013e95732583b6399a025a0
999977640     c2e5331d4013e95732583b6399a025a0
999986353     c2e5331d4013e95732583b6399a025a0
999987933     c2e5331d4013e95732583b6399a025a0
999988282     c2e5331d4013e95732583b6399a025a0
Name: name, Length: 378661, dtype: object

#### Ejercicio 2:

Verificar que los proyectos que tienen nombres duplicados también tienen el hash de nombre duplicado

In [37]:
original_count = duplicated.shape[0]
duplicated['name_hash']=duplicated['name'].apply(hashit)
duplicated_count=duplicated[['name', 'name_hash']].duplicated().shape[0]
original_count, duplicated_count

(5125, 5125)

# 1.4. Nunca modificar los datos crudos u originales

In [38]:
if not in_colab:
  kickstarter_2018.to_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv")


# 2. Pasos necesarios

In [39]:
#import pandas as pd
if not in_colab:
  kickstarter_2018 = pd.read_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv",
                        index_col='ID',
                        parse_dates=['deadline','launched'])

In [40]:
kickstarter_2018.describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378661,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,1,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,ID\n1000002330 The Songs ...,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,378661,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

## 2.1. Etiquetas de variables/columnas: no usar caracteres especiales

In [41]:
# helpful character encoding module
import chardet

¿Por qué? Por que aun hay limitaciones para trabajar con estos caracteres.

¿Cúales son los caracteres "normales"?

In [42]:
import string

string.ascii_letters + string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

¿Qué es ASCII? Es una de las primeras codificaciones (o encoding) disponibles. Ver https://en.wikipedia.org/wiki/ASCII

Un encoding es un mapa de caracteres a una representación en bits (por ejemplo 1000001). ASCII es uno de los primeros estandares para interoperatividad entre computadoras (antes cada fabricante de computadora usa su propia codificación), contempla sólo los caracteres ingleses y usa 7 bits, por ejemplo *1000001* codifica el caracter *A*

Cómo sólo representaban los caracteres ingleses, empiezan a aparecer variantes para distintos idiomas, Microsoft hizo los propios para internacionalizar Windows, hubo otro estandar ISO 8859, hasta que llegó el éstandar Unicode que hizo múltiples encodings pero cada uno contempla múltiples idiomas e incluso es extensible a futuro. UTF-8 es de esos encodings el más utilizado. Ver https://en.wikipedia.org/wiki/Unicode

En particular, Python 3 utiliza UTF-8 por defecto (lo que no sucedía en Python 2).

Veamos un ejemplo práctico

In [43]:
# start with a string
before = "This is the euro symbol: €"

# check to see what datatype it is
type(before)

str

In [44]:
# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors = "replace")

# check the type
type(after)

bytes

In [45]:
# take a look at what the bytes look like
after

b'This is the euro symbol: \xe2\x82\xac'

In [46]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [47]:
# try to decode our bytes with the ascii encoding
print(after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 25: ordinal not in range(128)

In [ ]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors = "replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

Este error ya lo vimos...

In [ ]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv")

El error `UnicodeDecodeError` nos indica que el archivo no estaría en Unicode. Si no está en algún metadato o no fue indicado es dificil detectar el encoding, por suerte hay un paquete para esto en Python, que aplica unas heurísticas para detectar encoding.

In [ ]:
# In Colab we need to download data locally
if in_colab:
  !wget -c $BASE_DIR/input/kickstarter-projects/ks-projects-201612.csv
  DOWN_DIR = "./"
else:
  DOWN_DIR = BASE_DIR + "/input/kickstarter-projects/"
  
# look at the first ten thousand bytes to guess the character encoding
with open(DOWN_DIR + "/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
result

Entonces le podemos indicar el encoding al leer el archivos

In [ ]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

Hay otro problema con los caracteres que es más sutíl: **[Mojibake](https://en.wikipedia.org/wiki/Mojibake)**

Sucede al leer UTF-8 como ASCII extendido (ie. `Windows-*`, `iso-8859-*` entre otros)

Ejemplo de mojibake:

In [ ]:
"cigüeña".encode('utf-8').decode('iso-8859-1')

Para esto vamos a usar un módulo específico [ftfy](https://ftfy.readthedocs.io/en/latest/). 

Que nos permite ordenar cadenas por rareza

In [ ]:
import ftfy.badness as bad

In [ ]:
def weird(val):
    if isinstance(val, float): 
        return 0
    return bad.sequence_weirdness(val)


kickstarter_2018['name_weirdness'] = kickstarter_2018['name'].apply(weird)
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1]

Volviendo a la consigna original, chequeamos que no haya caracteres fuera de a-Z, 0-9 y _ en los nombres de columnas

In [ ]:
kickstarter_2018.columns[~kickstarter_2018.columns.str.match(r'^(\w+)$')]

In [ ]:
kickstarter_2018.usd_pledged.head()

In [ ]:
kickstarter_2018.columns = kickstarter_2018.columns.str.replace(' ', '_')
kickstarter_2018.head()

In [ ]:
kickstarter_2018.usd_pledged.head()

#### Ejercicio 3

Comparar la cantidad de nombres raros en kickstarter_2018 con la que obtenemos al cargar 'ks-projects-201801.csv' con encoding iso-8859-1.

## 2.2. Tratar valores faltantes

Veamos cuantos valores nulos tenemos

In [ ]:
# get the number of missing data points per column
missing_values_count = kickstarter_2018.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[missing_values_count > 0]

Esta medida en sí, no dice nada más que con cuantos valores debemos lidiar. 

Primero tenemos que ver si en términos relativos su impacto.

In [ ]:
len(kickstarter_2018.dropna())/len(kickstarter_2018)

In [ ]:
len(kickstarter_2018.dropna(subset=['name']))/len(kickstarter_2018)

También debemos ver que significan en términos de representatividad e importancia de nuestro análisis.

In [ ]:
kickstarter_2018[kickstarter_2018.name.isnull()]

Ejemplo, cuantos de los proyectos suspendidos no tienen nombre

In [ ]:
len(kickstarter_2018[kickstarter_2018.state == 'suspended'].dropna(subset=['name'])) / \
    len(kickstarter_2018[kickstarter_2018.state == 'suspended'])

En este caso, creemos que es seguro descartar los proyectos sin nombre

In [ ]:
kickstarter_2018 = kickstarter_2018.dropna(subset=['name'])

In [ ]:
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

In [ ]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()]

In [ ]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()].describe(include='all')

Interesante, todos los datos pertenecen a un país indeterminado.

Todos los datos de ese "país" no tienen dinero prometido?

In [ ]:
kickstarter_2018[(kickstarter_2018.country == 'N,0"') & ~(kickstarter_2018.usd_pledged.isnull())].head()

A priori como los proyectos no tienen patrocinantes, completamos en 0 los valores

In [ ]:
kickstarter_2018 = kickstarter_2018.fillna(0)
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

In [ ]:
kickstarter_2018.shape

Más métodos disponibles en https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-missing y http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.3. Codificar variables

Para trabajar con los algoritmos de aprendizaje automático, las variables categóricas estas deben ser codificadas como variables numéricas, no como cadenas.

Para esta tarea también hay diferentes estrategias, dos comunes son: asociar cadena a número y asociar cadena a columna.

In [ ]:
from sklearn import preprocessing

In [ ]:
kickstarter_2018.describe(include=['O'])

In [ ]:
column='main_category'
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(kickstarter_2018[column])

In [ ]:
# View encoder mapping
dict(zip(le.classes_,le.transform(le.classes_)))

In [ ]:
# Apply the fitted encoder to the pandas column
kickstarter_2018[column] = le.transform(kickstarter_2018[column]) 
kickstarter_2018.head()

In [ ]:
# Reversing encoding
kickstarter_2018[column] = le.inverse_transform(kickstarter_2018[column]) 
kickstarter_2018.head()

In [ ]:
from sklearn.preprocessing import LabelBinarizer
other_column = 'state'

lb = LabelBinarizer()

lb_results = lb.fit_transform(kickstarter_2018[other_column])
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

More about preprocessing in http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

#### Ejercicio 4

Codificar `currency` con ambas estrategias

## 2.4. No cambiar los nombres de las variables de la fuente de origen

## 2.5. Verificar la consistencia de las variables
Aplicar reglas de integridad

In [ ]:
kickstarter_2018.head()

¿Hay proyectos sin patrocinadores pero con plata prometida?

In [ ]:
kickstarter_2018[(kickstarter_2018.backers == 0) & (kickstarter_2018.usd_pledged > 0)]

¿Hay proyecto no exitosos que pasaron el objetivo?

In [ ]:
kickstarter_2018[(kickstarter_2018.state != 'successful') & (kickstarter_2018.pledged > kickstarter_2018.goal)]

¿Cómo es, en promedio, la correlación entre el objetivo y la plata obtenida?

In [ ]:
df = kickstarter_2018.groupby('state')[['goal','pledged']].aggregate('mean')
df['pledged'] / df['goal']

¿Cuánta plata se obtiene en promedio por estado y categoría?

In [ ]:
kickstarter_2018.pivot_table(values='usd_pledged',index='state',columns='main_category')

#### Ejercicio 5

1. ¿Hay proyecto éxitosos que no consiguieron el objetivo? Si hay, ¿Qué porcentaje sí y cuál no?
2. Calcular una tabla con la cantidad de proyectos por categoría principal y estado.

## 2.6. Identificar y documentar valores atípicos/outliers

Queremos analizar las características de los proyectos que obtienen dinero pero sin considerar los casos atípicos.

In [ ]:
%matplotlib inline
kickstarter_2018.usd_pledged.hist();

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged');

"There are many rules of thumb for how to define an outlier but there is no silver bullet. One rule of thumb is that any data point that is three standard deviations away from the mean of the same data point for all observations."

In [ ]:
outliers = kickstarter_2018[kickstarter_2018.usd_pledged > (kickstarter_2018.usd_pledged.mean() + 
                                                            3 * kickstarter_2018.usd_pledged.std())]
outliers

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged');

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged',by='state');

Analizar outliers por categorías

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged',by='state');
kickstarter_2018.boxplot(column='usd_goal_real',by='state');

#### Ejercicio 6

Calcular los valores atípicos de 'usd_goal_real' y graficar los boxplots, con y sin estos valores por categoría

## 2.7. Evaluar cómo comprimir los datos 
para su almacenamiento más eficiente.

En la actualidad, en las nubes el almacenamiento no suele ser problema sino la velocidad para leerlo que suele ser determinante a la hora de determinar el formato de almacenamiento.

## 2.8. Guardar el set de datos con un nombre informativo.

EL problema de la ingeniería de software